[submodule "tests/data/oiio-images"]
	path = tests/data/oiio-images
	url = https://github.com/OpenImageIO/oiio-images.git
[submodule "tests/data/openexr-images"]
	path = tests/data/openexr-images
	url = https://github.com/AcademySoftwareFoundation/openexr-images
[submodule "tests/data/ocio-configs"]
	path = tests/data/ocio-configs
	url = https://github.com/colour-science/OpenColorIO-Configs.git
[submodule "tests/data/ocg-testdata"]
	path = tests/data/ocg-testdata
	url = https://github.com/david-cattermole/OpenCompGraph-testdata.git
[submodule "tests/data/openjpeg-images"]
	path = tests/data/openjpeg-images
	url = https://github.com/uclouvain/openjpeg-data.git
